[submodule "tren-unggahan-loker-deduktif.id"]
	path = tren-unggahan-loker-deduktif.id
	url = https://github.com/zoerlyx/tren-unggahan-loker-deduktif.id
[submodule "lokasi-pelabuhan-deduktif.id"]
	path = lokasi-pelabuhan-deduktif.id
	url = https://github.com/zoerlyx/lokasi-pelabuhan-deduktif.id
[submodule "pola-modus-deduktif.id"]
	path = pola-modus-deduktif.id
	url = https://github.com/zoerlyx/pola-modus-deduktif.id
[submodule "aduan-dfw-deduktif.id"]
	path = aduan-dfw-deduktif.id
	url = https://github.com/zoerlyx/aduan-dfw-deduktif.id
[submodule "kasbon-gaji-kontrak-deduktif.id"]
	path = kasbon-gaji-kontrak-deduktif.id
	url = https://github.com/zoerlyx/kasbon-gaji-kontrak-deduktif.id
[submodule "sub-repo-6"]
	path = viz-01-rantai-sebab-akibat-deduktif.id
	url = https://github.com/zoerlyx/viz-01_rantai-sebab-akibat-deduktif.id
